/*
Paleta de colores:

  --dark-color: #164E63;
  --mid-color: #41CBBF;
  --light-color: #F8FAFC;
  --gray-color: #BEC9DF;


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F8FAFC !important;
}

/* headear */

.bg-color-mid{
    background-color: #41CBBF !important;
}
.color-mid {
    color: #41CBBF !important;
}
.color-light{
    color: #F8FAFC!important;
}

.texto-titulo {
    font-size: 2.5vw;
}

.img-logo {
    height: 95px;
    width: 90px;
}

/*Resto de la pagina*/
.expForm{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.8vw;
    font-weight: bolder;
    color:white


}

section.form {
    background-color: #41CBBF;
    color: #F8FAFC;
}
form{
    background-color: #164e63;
    padding: 20px;
    border-radius: 10px;
}

 .form-group, #com {
    padding: 5px;
    border-radius: 10px;   
}  

#btn{ 
    background-color: #41cbbf;
    color: #fff;
    border-radius: 10px;
    margin-top: 5px;
}
#btn:hover{
    background-color: #BEC9DF;
    color: #000;
    transition: 0.2 easet-out;

}
label{
     color: white;
     padding: 3px;
     margin: 5px;

}
section.data {
    background-color: #F8FAFC;
    color: #164E63;
}
footer{
    background-color: #BEC9DF;
    color: #164E63;
}