/*
Paleta de colores:

  --dark-color: #164E63;
  --mid-color: #41CBBF;
  --light-color: #F8FAFC;
  --gray-color: #BEC9DF;


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #F8FAFC !important;
}

/* headear */

.bg-color-mid {
    background-color: #41CBBF !important;
}
.color-mid {
    color: #41CBBF !important;
}
.color-light {
    color: #F8FAFC!important;
}

.texto-titulo {
    font-size: 4rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.img-logo {
    height: 95px;
    width: 90px;
    border-radius: 20px;
}

/*Resto de la pagina*/
.tituloF{
    font-weight: bolder;
   
}

.expF{
   
    color:white;
    padding-top: 50px;
}

section.form {
    background-color: #41CBBF;
    color: #F8FAFC;
}
form {
    background-color: #164e63;
    padding: 20px;
    border-radius: 10px;
}

.form-group, #com {
    padding: 5px;
    border-radius: 10px;   
}  

#btn { 
    background-color: #41cbbf;
    color: #fff;
    border-radius: 10px;
    margin-top: 5px;
}
#btn:hover {
    background-color: #BEC9DF;
    color: #000;
    transition: 0.2 easet-out;

}
label {
    color: white;
    padding: 3px;
    margin: 5px;
}
section.data {
    background-color: #F8FAFC;
    color: #164E63;
    margin-top: 5%;
    margin-bottom: 5%;
}
section h2 {
    margin-bottom: 50px;
    text-align: center;
}
/* Footer */

footer {
    width: 100%;
    padding: 50px 0px;
    background-color:#164E63;
    color: #BEC9DF;
} 

.container__footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #F8FAFC;
    font-weight: 700;
}

.box__footer a {
   margin-top: 10px;
   color: #F8FAFC;
   font-weight: 700;
}

.box__copy {
    max-width: 1200;
    margin: auto;
    text-align: center;
    
}

.box__copy {
    margin-top: 20px;
    color: #d6d6d6;
    margin: auto;
    text-align: center;
}

/* @media */

@media (max-width: 1400px) {
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
    }

    .texto-titulo {
        font-size: 3.2rem;
    }

    .flex-item-left {
        flex: 25%;
    }

    .flex-item-center {
        flex: 50%;
    }

    .flex-item-right {
        flex: 25%;
    }
}

@media (max-width: 1000px) {
    .texto-titulo {
        font-size: 2.8rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-right: 10px;
        padding-left: 10px;
    }

    .flex-item-center {
        text-align: center;
    }

    .flex-item-right {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-content: flex-end;
    }
}

@media (max-width: 600px) {
    .texto-titulo {
        font-size: 2.2rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-right: 10px;
        padding-left: 10px;
    }

    .img-logo {
        height: 75px;
        width: 70px;
        border-radius: 20px;
    }

    .nav-item {
        width: 90px;
        font-size: 12px;
    }
}
